@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700|Open+Sans:300,400,600,700,800');

$color-logo: #FC4887;
$color-white: #fff;
$color-bg: #E4E4E4;
$color-text: #444444;
$color-border: #1691C3;
$color-button: #3590c5;
$color-header: #696969;
$color-text-main: #b9b6b4;
$color-icon: #565656;
$color-footer: #aaa;

$font-open: 'Open Sans', sans-serif;
$font-oleo: 'Oleo Script', cursive;